{% extends 'base.html.twig' %}

{% block body %}
    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>
    <div class="sidenav">
        <a href="#about">
            <span class="d-block d-lg-none">Preneesh Sudhir</span>
            <span class="d-none d-lg-block">
                <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.jpg" alt="">
            </span>
        </a>
        <a href="#about">ABOUT</a>
        <a href="#experience">EXPERIENCE</a>
        <a href="#education">EDUCATION</a>
        <a href="#skills">SKILLS</a>
        <a href="#projects">PROJECTS</a>
        <a href="#languages">LANGUAGES</a>
    </div>

    <div class="main">
        <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
            <div class="my-auto">
                <h1 class="mb-0" style="color: rgb(95, 94, 94)">Preneesh
                <span style="color: black">Sudhir</span>
                </h1>
                <div class="subheading mb-5">Ringstraße 104 · 64380 Roßdorf · +49 176 43266073 ·
                <a href="mailto:preneeshsudhir@hotmail.com">preneeshsudhir@hotmail.com</a>
                </div>
                <p class="lead mb-5">Hardworking, motivated student looking forward to using my technical knowledge and skills for developing and delivering assigned projects efficiently, in a timely manner.</p>
                <div class="social-icons">
                    <a href="https://github.com/preneesh93" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://www.facebook.com/preneesh.sudhir"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/TheStranger93"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
            <h1 class="mb-5">Experience</h1>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="mr-auto">
                    <h3 class="mb-0">Junior Web Developer</h3>
                    <div class="subheading mb-3">Bellissy</div>
                    <p style="font-weight: normal">
                        Browse the assortment of numerous retailers and easily find the ideal product at the best price in one place. 
                        At present BELLISSY lists about 150.000 articles among others from the product groups Makeup, 
                        Skin Care, Fragrance, Hair, Korean Beauty.
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span>June 2018 - Present</span>
                </div>
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
            <h2 class="mb-5">Education</h2>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="mr-auto">
                    <h3 class="mb-0"> <a href="https://www.tu-darmstadt.de/">Technische Universität Darmstadt</a> </h3>
                    <div class="subheading mb-3">Master of Science</div>
                    <div>
                        <h5>Informatik - Distributed Software Systems</h5>
                        <ul>
                            <li>Distributed Systems</li>
                            <li>Computer Networking & Systems Software</li>
                            <li>Formal Methods, Programming Languages and Software Engineering</li>
                        </ul>
                    </div>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">October 2015 - Present</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="mr-auto">
                    <h3 class="mb-0"> <a href="https://www.annauniv.edu/">Anna University Chennai</a> </h3>
                    <div class="subheading mb-3">Bachelor of Engineering</div>
                    <div>
                        <h5>Computer Science and Engineering</h5>
                        <ul>
                            <li>Data Structures and OOP</li>
                            <li>Operating Systems</li>
                            <li>Computer Networks</li>
                        </ul>
                    </div>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">August 2010 - March 2015</span>
                </div>
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
            <div class="mr-auto">
                <h2 class="mb-5">Skills</h1>
                <div class="subheading mb-3">Web Technologies</div>
                <div class="dev-icons">
                    <i class="fab fa-php"><span class="tooltiptext">PHP</span></i>
                </div>
                <div class="dev-icons">
                    <i class="fab fa-html5"><span class="tooltiptext">HTML5</span></i>
                </div>
                <div class="dev-icons">
                    <i class="fab fa-css3-alt"><span class="tooltiptext">CSS3</span></i>  
                </div>
                <div class="dev-icons">
                    <i class="fab fa-js-square"><span class="tooltiptext">JavaScript</span></i>  
                </div>
                <div class="dev-icons">
                    <i class="fab fa-angular"><span class="tooltiptext">Angular</span></i>  
                </div>
                <div class="dev-icons">
                    <i class="fab fa-node-js"><span class="tooltiptext">NodeJS</span></i>  
                </div>
                <div class="dev-icons">
                    <i class="fab fa-npm"><span class="tooltiptext">NPM</span></i>  
                </div>
            </div>
            <div class="subheading mb-3">Technical Skills</div>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Programming: C, C++, .NET, Java.
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    PHP Frameworks: Laravel, Symfony.
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Working Knowledge of REST API.
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    DBMS Packages: MySQL, Microsoft SQL Server, MongoDB.
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Operating Systems: Windows, Linux, Android
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Tools & IDE: Visual Studio, Eclipse, JetBrains
                </li>
            </ul>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
            <h2 class="mb-5">Projects</h2>
            <div class="resume-item d-flex flex-column flex-md-row mb-2">
                <div>
                    <h3 class="mr-4"><i class="fas fa-mobile-alt"></i></h3>
                </div>
                <div>
                    <h3 class="mb-0"> <a href="https://github.com/preneesh93/ConfettiSilentParty">Android Application for Silent Music Party</a> </h3>
                    <p class="lead mb-5">Parties are now neighborhood friendly. Just put your headphones on and groove to the Music. The App allows you to add your favorite song to the common playlist.
                        If you want that song to be played next, all you need to do is to vote for it. Enough votes from people will push your song to the top of the list. The App does not store any user information.
                        Because, what happens in the party, stays in the party!
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">2017</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-2">
                <div>
                    <h3 class="mr-3"><i class="fas fa-laptop"></i></h3>
                </div>
                <div>
                    <h3 class="mb-0"> <a href="https://github.com/preneesh93/ConferenceManagement">JavaScript Web Application for Conference Management System</a> </h3>
                    <p class="lead mb-5">The Conference Management System (CMS) is a conference
                            management software, offering a web based solution for managing delegate registration, paper submission and review. 
                            It is a comprehensive and powerful, yet easy to use software for online conference management. This system is commonly used for scientific publications and reviews. </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">2016</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-2">
                <div>
                    <h3 class="mr-4"><i class="fas fa-mobile-alt"></i></h3>
                </div>
                <div>
                    <h3 class="mb-0"> <a href="https://github.com/preneesh93/EmployeeMonitoring">Android Application for Employee Activity Monitoring System</a> </h3>
                    <p class="lead mb-5">The App is used to monitor an Employee's each and every activity and current location, sending an alert to their Manager realtime.</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">2014</span>
                </div>
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="languages">
            <div class="my-auto">
                <h2 class="mb-5">Languages</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Languages Known</th>
                            <th scope="col">English</th>
                            <th scope="col">German</th>
                            <th scope="col">Tamil</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-primary">
                            <th scope="row">Understanding</th>
                            <td>C2</td>
                            <td>A2</td>
                            <td>Native</td>
                        </tr>
                        <tr class="table-primary">
                            <th scope="row">Speaking</th>
                            <td>C1</td>
                            <td>A2</td>
                            <td>Native</td>
                        </tr>
                        <tr class="table-primary">
                            <th scope="row">Writing</th>
                            <td>C2</td>
                            <td>A2</td>
                            <td>Native</td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-md-right">
                    <p class="text-primary">Levels: A1 and A2: <span style="color: red">Basic user</span> - B1 and B2: <span style="color: red">Independent user</span> - C1 and C2: <span style="color: red">Proficient user</span></p>
                    <a href="http://europass.cedefop.europa.eu/sites/default/files/cefr-en.pdf">Common European Framework of Reference for Languages</a>
                </div>
           </div>
        </section>
        

    </div>
{% endblock %}